*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180vh;
}
#mydiv{
    padding: 0;
    border-radius: 8px;
    max-width: 700px;
    background-color: #666;
    margin: 40px auto;
    box-shadow: 0 0 2px rgba(0, 0, 0, 2);
}
.divv{
    display: flex;
    justify-content: center;
    
    margin: 5px;
    width: 48%;
    height: auto;
    float: left;
    max-height: 38vh;
}
#box1{
    border-top-left-radius:8px;
    border-top-right-radius:46px;
    width: 33%;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color: rgb(207, 136, 5);
    min-height: 15.5rem;
    margin: 0;
    color: Black;
}
#box1 p{
    font-size: 21px;
    font-weight: 600;
    margin-top: 8px;
}
#box1 img{
    width: 160px;
    height: 160px;
    border-radius: 100%;
    border: 5px outset grey;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}
#box2 ul{
    margin-left: 10px;
    
}
#box2 li{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    list-style: none;
    color: rgb(211, 210, 210);
    line-height: 28px;
    word-spacing: 2px;
}
#box2 h2{
    font-size: 2.2rem;
    margin-top: 25.5px;
    background-color: rgb(207, 136, 5);
    width: 25rem;
    height: 3rem;
    margin-left: -7px;
    padding-top: 5px;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
}
#box2{
    min-height: 14rem;
    width: 61%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-bottom: 7px;
}
#box3{
    min-width:67%;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    inline-size: 100px;
    padding: 20px;
    text-align: start;
    float: right;
    color: rgb(204, 204, 204);
    margin: 0;
    background-color: rgba(0, 0, 0, 0.089);
    
}
#box3 h2{
    color: #ffb703;
    border-bottom: 1px solid #ffb400;
    padding-left: 10px;
    margin-left: -5px;
}
#box3 p{
    font-size: 19px;
    line-height: 28px;
    word-spacing: 3px;
}
#box4{
    margin: 0;
    background-color: rgb(207, 136, 5);
    min-height: 46.3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width:33%;
    color: black;
}
#box4 h2{
    margin-top: 10px;
    margin-left: 20px;
    word-spacing: 2px;
}
#box4 li{
    margin-left: 10px;
    font-size: 18px;
    line-height: 30px;
    word-spacing: 0.5px;
}
#box5{
    padding: 10px;
    float: left;
    min-height: 18.2rem;
    min-width:63%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #ffb703;
}
#box5 li{
    margin: 7px;
    margin-left: 30px;
    color: rgb(197, 197, 197);
    font-size: 19px;
}
#box5 ul{
    color: orange;
}
#box5 h2{
    border-bottom: 1px solid #ffb400;
    margin-left: -17px;
    padding-left: 13px;
}
#box7 h2{
    border-bottom: 1px solid #ffb400;
    margin-left: -17px;
    padding-left: 13px;
}
#box7{
    color: #ffb703;
    min-height: 13rem;
    min-width:67%;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.089);
    margin: 0;
    padding-left: 25px;
    padding-right: 13px;
}
#box7 ul{
    color: orange;
}
#box7 li{
    margin: 7px;
    margin-left: 30px;
    color: rgb(194, 193, 193);
    font-size: 19px;
}
#box6{
    margin: 0;
    background-color: rgba(0, 0, 0, 0.486);
    width: 100%;
    min-height: 2rem;
}
#box6 p{
    margin-top: 8px;
    color: rgba(255, 255, 255, 0.637);
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-ser;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.nm li{
    list-style: none;
}
.nm li a{
    text-decoration: none;
    margin: 5px;
}
.qw{
    margin-left: 30px;
}
.we{
    margin-left: 30px;
}
